@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url("/fonts/NotoSansTC-VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Fira Code", "Noto Sans TC", "Noto Sans SC", "Noto Sans JP";
  font-feature-settings: "calt" 1, "liga" 1, "clig" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss05" 1, "ss07" 1, "cv01" 1, "cv02" 1, "cv06" 1, "cv09" 1, "zero" 1;
}